.cards--container p, h1, h3 {
    color: #242424;
    font-family: 'Roboto', sans-serif;    
}

.cards--container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.card--horizontal{
    display: flex;
    background: #DCDCDC;
    width: 50vw;
    height: 15vh;
    border-radius: 10px;
    margin: 10px;
}

.card--horizontal h3 {
    margin-top: -20px;
}

.card--texts p{
    width: 80%;
    font-size: 17px;
}

.card--texts h3{
    font-weight: 700;
}

.card--image {
    padding: 20px;
}

.card--image img{
    background: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footer-column img {
    width: 30px;
    display: inline-block;
    padding: 0 15px;

}