.cards--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--horizontal{
    background: #DCDCDC;
    max-width: 100vw;
    margin: 0 10px;
    padding-left: 50px;
}

.card--horizontal img{
    position: absolute;
    
    background: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}