.header--container p, h1, a {
    font-family: 'Roboto', sans-serif;
    color: #242424;
}

.header--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

.header--image img {
    width: 40vw;
}

.header--info p {
    font-weight: bold;
    font-size: 25px;
}

.header--info h1 {
    color: #D6000D;
    font-size: 100px;
    margin-top: -10px;
    margin-bottom: 35px;
}

.header--info a {
    background: #D6000D;
    padding: 15px 70px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
}

.header--info a:hover {
    background-color: #980009;
}

@media only screen and (max-width: 820px) {
    .header--container {
        margin: 70px 0 30px 0;
    }

    .header--image img {
        width: 45vw;
    }
    
    .header--info p {
        font-size: 17px;
    }

    .header--info {
        padding-left: 100px;
    }

    .header--info h1 {
        font-size: 37px;
    }

    .header--info a {
        padding: 15px 30px;
        transition: 0.2s;
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 390px) { 
    .header--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .header--info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .header--image img {
        width: 55vw;
    }
}

@media only screen and (max-width: 414px) { 
    .header--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .header--info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .header--image img {
        width: 55vw;
    }
}