.services--container p, a, 
.services--contact p {
    font-family: 'Roboto', sans-serif;
    color: #242424;
}

.services--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.services--description p {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.services--description img {
    width: 50px;
    padding-right: 25px;
}

.services--image img {
    width: 40vw;
}

.services--contact{
    padding: 20px 200px;
    display: inline-block;
}

.services--contact p {
    font-size: 35px;
}

.services--contact input{
    background: #DCDCDC;
    border: none;
    padding: 22px 90px;
    border-radius: 10px;
    font-size: 15px;
}

.services--contact button {
    cursor: pointer;
    background: #D6000D;
    padding: 22px 90px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: none;
}

.services--contact a{
    text-decoration: none;
}

@media only screen and (max-width: 820px) {
    .services--image img {
        width: 50vw;
    }
    .services--description img {
        width: 20px;
    }  
    .services--contact p {
        font-size: 20px;
    }
    .services--contact{
        padding: 50px 50px 0 20px;
        display: inline-block;
    }
    .services--container {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 390px) { 
    .services--container {
        flex-direction: column-reverse;
    }
    .services--description p {
        font-size: 15px;
    }

    .services--description {
        margin-top: 40px;
    }

    .services--image img {
        width: 65vw;
    }
    .services--contact {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services--contact input{
        padding: 10px; 
        font-size: 15px;
    }
    
    .services--contact button {
        padding: 10px 60px; 
        margin-top: 20px;
    }
}

@media only screen and (max-width: 414px) { 
    .services--container {
        flex-direction: column-reverse;
    }
    .services--description p {
        font-size: 15px;
    }

    .services--description {
        margin-top: 40px;
    }

    .services--image img {
        width: 65vw;
    }
    .services--contact {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services--contact input{
        padding: 10px; 
        font-size: 15px;
    }
    
    .services--contact button {
        padding: 10px 60px; 
        margin-top: 20px;
    }
}